# Ignorar ambiente virtual
ambiente_de_requisicao/
venv/

# Ignorar arquivos compilados do Python
__pycache__/
*.pyc

# Ignorar arquivos de ambiente (senhas)
.env

#Ignorar arquivos de dados/cache
data/